{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="row mt-4">
        <div class="col text-center">
            <p class="lead mb-4">
                Prosím zadejte informace o sobě, abychom věděli do kterého očkovacího místa je
                Vás možné přiřadit. V této fázi se po potvrzení formuláře 
                údaje zapíší do naší interní databáze, kterou poskytujeme hejtmanům a dalším
                organizacím.
            </p>
        </div>
    </div>
    <div class="row mt-4 text-center">
        <div class="col-4 offset-md-4">
            <form method="post" action="" class="form">
                {% csrf_token %}
                {% bootstrap_field form.first_name %}
                {% bootstrap_field form.last_name %}
                {% bootstrap_field form.competence %}
                {% bootstrap_field form.region %}
                {% bootstrap_field form.email %}
                {% bootstrap_field form.phone %}
                {% bootstrap_field form.agreement %}
                {% buttons %}
                    {% bootstrap_button "Potvrdit údaje" button_type="submit" button_class="btn-primary" %}
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock content %}
